---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import  "bootstrap-includes";

$main_color : #337ab7;
$secondary_color : #23527c;

html, body{
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .navbar-brand{
    font-family: 'Comfortaa', cursive;
}

.navbar{
    margin-bottom: 0;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        // path {
        //     fill: $grey-color;
        // }
    }
}

footer{
	text-align: right;
}

$spacing-unit:     30px;
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.post-content{
	img{
		width: 100%;
	}
}

a{
    color: $main_color;
    position: relative;
    transition: color 100ms ease-in-out;

    &::after{
        position: absolute;
        content: '';
        display: block;
        width: 0;
        left: 0;
        bottom: 0;
        height: 5%;
        background-color: $main_color;
        z-index: 0;
        transition: width 100ms ease-in-out, color 100ms ease-in-out;
    }
    
    &:hover{
        text-decoration: none;
        color: $secondary_color;
        
        &::after{
            background-color: $secondary_color;
            width: 100%;
        }
    }
}

@import   "syntax-highlighting"
